In [15]:
import tabula
import pandas as pd

pdf_file = "Tabled Pdf.pdf"

if pdf_file:
    print("Reading:", pdf_file)

    try:
        tables = tabula.read_pdf(pdf_file, pages="all", multiple_tables=True, lattice=True)

        if not tables:
            tables = tabula.read_pdf(pdf_file, pages="all", multiple_tables=True, stream=True)

        if tables:
            final_df = tables[0]
            for df in tables[1:]:
                df.columns = final_df.columns  
                final_df = pd.concat([final_df, df], ignore_index=True)

            final_df.to_csv("final_output.csv", index=False)
            print(f"Saved final_output.csv with {len(final_df)} rows")

        else:
            print("No tables found. This PDF might be scanned or unstructured.")

    except Exception as e:
        print("Error extracting tables:", e)

Reading: Tabled Pdf.pdf
Saved final_output.csv with 66 rows

In [21]:
df = pd.read_csv("final_output.csv",skiprows = 1)
df.head()

,Unnamed: 0,Continuous\rAssessment-1\rfreezed,Internal Test-1\rfreezed,Unnamed: 3
0,1.0,Siya Prashant Vaidya,5,17.0
1,2.0,Nidhi Singh,5,15.0
2,3.0,Mahek Gidwani,5,11.0
3,4.0,Purva Vinod Bidwaik,5,7.0
4,5.0,Suhani Jain,5,9.0

In [23]:
df["Total Marks"] = df["Internal Test-1\rfreezed"] + df["Unnamed: 3"]
print(df)

    Unnamed: 0 Continuous\rAssessment-1\rfreezed  Internal Test-1\rfreezed  \
0          1.0              Siya Prashant Vaidya                         5
1          2.0                       Nidhi Singh                         5
2          3.0                     Mahek Gidwani                         5
3          4.0               Purva Vinod Bidwaik                         5
4          5.0                       Suhani Jain                         5
..         ...                               ...                       ...
60        62.0                        Raj Gajare                         5
61        63.0                      Akshat Singh                         5
62        64.0                  Shreyashi Bandey                         5
63        65.0                   Ujwal Chikankar                         5
64        66.0                       Ram Chandak                         5

    Unnamed: 3  Total Marks
0         17.0         22.0
1         15.0         20.0
2         11.0         16.0
3          7.0         12.0
4          9.0         14.0
..         ...          ...
60         7.0         12.0
61         8.0         13.0
62         9.0         14.0
63        16.0         21.0
64        11.0         16.0

[65 rows x 5 columns]

In [25]:
mean_total = df["Total Marks"].mean()
print("Mean of Total Marks:", mean_total)

Mean of Total Marks: 15.569230769230769

In [27]:
std_total = df["Total Marks"].std()
print("Standard Deviation of Total Marks:", std_total)

Standard Deviation of Total Marks: 3.5353979212442916